@model UserAddressVM

<div class="modal-header">
    <h5 class="modal-title">@(Model.Id==0?"New Address":"Edit Address")</h5>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">
        X
    </button>
</div>
@*asp-controller="Account" asp-action="UpsertAddress" asp-route-Id="@Model.Id"*@
<form id="myform" method="post" asp-controller="Account" asp-action="UpsertAddress">
    <div class="modal-body">

        <input hidden asp-for="Id" />

        <div class="form-group">
            <label>Full Name</label>
            <input type="text" class="form-control" placeholder="full name" asp-for="FullName">
            <span asp-validation-for="FullName" class="text-danger" ></span>
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" placeholder="phone" asp-for="Phone">
        </div>
        <div class="form-group">
            <label>City</label>
            <select class="form-select" asp-items="@ViewBag.Cities" asp-for="CityId">
                <option selected disabled>--Choose City--</option>
            </select>
        </div>
        <div class="form-group">
            <label>Street</label>
            <input type="text" class="form-control" placeholder="ST." asp-for="Street">
        </div>
        <div class="form-group">
            <label>Nearest Landmark</label>
            <input type="text" class="form-control" asp-for="NearestLandMark">
        </div>
        <div class="form-group">
            <label>Additional Info</label>
            <input type="text" class="form-control" asp-for="AdditionalInfo">
        </div>
        <div class="form-check">
            <input type="checkbox" asp-for="IsDefault" class="form-check-input">
            <label class="form-check-label">Make Default</label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" onclick="ajaxFormSubmit()" class="btn btn-primary">@(Model.Id == 0 ? "Add" : "Save Changes")</button>
    </div>
</form>



