@model List<CartItemVM>

@{
    ViewData["Title"] = "My Cart";
}


@if (TempData["SaveCartToDB"] != null)
{
    <div class="alert alert-success" role="alert">
        Cart has been successfully imported.
    </div>
}
<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                    
                </div>
                <div id="cartItems">
                 <partial name="_CartItems" model="Model"/>
                </div> 

            </div>
        </div>
    </div>
</section>


@section Scripts{

    <script type="text/javascript">

        function UpdateCartItemQuan(Id, quantity) {
            var id = Id;
            var quan = quantity;
            var _url = '@Url.Action("UpdateCartItemQuan", "Cart")';
            $.ajax(
                {
                    url: _url,
                    data: { "Id": id,"quan":quan},
                    success: function (res) {
                        $(`#cartItems`).html(res);
                    },
                }
            );
        }

        function CheckCoupon() {
            var old = document.getElementById("CouponApplyButton").innerHTML
            document.getElementById("CouponApplyButton").innerHTML = '<img width="50px" height="50px" src="https://global.discourse-cdn.com/sitepoint/original/3X/e/3/e352b26bbfa8b233050087d6cb32667da3ff809c.gif" />';
            setTimeout(() => { document.getElementById("CouponApplyButton").innerHTML = old; document.getElementById("ValidCoupon").innerHTML = "Valid Coupon!"; }, 1000);
        }
    

    </script>
}




